name: ci-dags

on:
  workflow_call:
    inputs:
      deployment-id:
        required: true
        type: string

permissions:
  contents: read

jobs:
  lock-test:
    runs-on: ubuntu-latest
    steps:

      - name: Acquire branch lock
        uses: suzuki-shunsuke/lock-action@8f08ca10332ee4ed22fd6f90508c179176da9d6d
        with:
          github_token: ${{ secrets.GH_PAT }}
          repo_name: rops-dags-storage
          mode: lock
          key: ${{ inputs.deployment-id }}
          message: |
            "Locked by repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}
            Actor: ${{ github.actor }}
            Workflow run:
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

      # - name: Simulate long-running job
      #   run: sleep 300
